@font-face {
    font-family: 'Kenney';
    src: url('../fonts/Kenney.woff') format('woff');
}

main{
    height:538px;
    width:768px;
    background: #211A21;
    outline:10px solid #434A5F;
}

header{
    height:50px;
    width:100%;
}
header img, footer img{
    height:30px;
    width:30px;
}

#game{
    height:438px;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#game::-webkit-scrollbar {
    display: none;
}

footer{
    height:50px;
    width:100%;
}

a, button, h2, p, label, input{
    background-color: transparent;
    border:none;
    paint-order: stroke fill;
    text-decoration: none;
    font-size:20px;
    color:white;
    font-family:"Kenney";
    -webkit-text-stroke: 5px #434A5F;
    transition:all 0.2s ease;
}

h2{
    font-size: 30px;
}

a:hover, button:hover{
    color:white;
    -webkit-text-stroke: 5px #4F43AE;
}
.button{
    height:25px;
    width:25px;
}
#logo{
    margin:auto;
    height:200px;
    width:auto;
}

#rules a{
    font-size:15px;
}

h2{
    font-size:32px;
}
#credits p{
    margin:0;
}


/* card display */

.card-content{
    width: 46px;
    height: 63px;
    overflow: hidden;
}
.cards{
    min-width: 715px;
    min-height:200px;
    background-image: url("../img/Cards.png");
    background-size: cover;
    background-repeat: no-repeat;

}
#playerGame .card-content.isPlayable:hover {
    margin-bottom: 15px;
    transition: .3s;
    cursor: pointer
}
.cards.hearts{
    background-position-y: 0px;
}
.cards.clubs{
    background-position-y: -63px;
}
.cards.diamonds{
    background-position-y: -126px;
}
.cards.spades{
    background-position-y: -189px;
}
.cards.two{
    background-position-x: -47px;
}
.cards.three{
    background-position-x: -94px;
}
.cards.four{
    background-position-x: -140px;
}
.cards.five{
    background-position-x: -187px;
}
.cards.six{
    background-position-x: -235px;
}
.cards.seven{
    background-position-x: -282px;
}
.cards.eight{
    background-position-x: -328px;
}
.cards.nine{
    background-position-x: -375px;
}
.cards.ten{
    background-position-x: -422px;
}
.cards.jack {
    background-position-x: -470px;
}
.cards.queen {
    background-position-x: -516px;
}
.cards.king {
    background-position-x: -563px;
}
.cards.ace {
    background-position-x: -610px;
}

#game{
    position: relative;
}
.card-hand, .card-back, .card-visible{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.card-back, .card-visible{
    bottom: 80px;
}

.card-visible{
    bottom: 90px;
}
#iaGame, #playerGame {
    position: absolute;
    width: 100%;
}
#iaGame {
    top:50%;
}
#playerGame {
    bottom:0%;
}
#iaGame .card-user {
    position: absolute;
    width: 100%;
    top: -155px;
}
#pile{
    outline:2px dashed white;
    position: absolute;
    top: 43%;
    text-align: center;
    left: 47%;
    content:"?";
}
.card-back .card-content .cards {
    background-position-y: 0px;
    background-position-x: 0px;
}
.back-btn-game{
    display: none;
}
#rules{
    cursor: pointer;
}
.global-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
.content-modal .close{
    cursor: pointer;
}
.content-modal {
    max-width: 780px;
    margin: auto;
    background-color: white;
    padding: 20px;
    max-height: 100%;
}

label{
    font-size:15px;
    text-align: left;
}

.form-control{
    background-color: transparent;
    border:3px dashed white;
    border-radius: 0;
    padding:0.5rem;
    outline:transparent;
    color: white!important;
}
input{
    border:2px dashed white;
}
input:focus{
    outline:none!important;
    background-color: transparent!important;
    box-shadow:none!important;
    border-color:white!important;
    color: white!important;
}

#volume-slider{
    width:100px;
    vertical-align: middle;
}

.disabled{
    color:gray;
    pointer-events: none;
}
#iaGame .card-hand .cards{
    background-position-y:0px;
    background-position-x:0px;
}
#confetti{
    position: absolute;
}
form.form-danish {
    display: flex;
    width: 75%;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
}
main.form-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: start;
}
.displayNone{
    display:none;
}
#game-mat{
    background-color: #448a3a;
    outline: 10px solid #4E1211;
    /* border-radius: 25px; */
    height:300px;
    width:500px;
}
#inner-mat{
    height:40%;
    width:70%;
    border:2px dashed white;
}
#playerGame .card-visible{
    bottom:75px;
}
#iaGame .card-visible{
    bottom:78px;
}
#register-btn{
    font-size:15px;
    text-align: center;
    display:block;
    margin:auto;
}