@font-face {
    font-family: 'Kenney';
    src: url('../fonts/Kenney.woff') format('woff');
}

main{
    height:538px;
    width:768px;
    background: #211A21;
    outline:10px solid #434A5F;
}

header{
    height:50px;
    width:100%;
}
header img, footer img{
    height:30px;
    width:30px;
}

#game{
    height:438px;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

footer{
    height:50px;
    width:100%;
}

a, button, h2, p, label, input{
    background-color: transparent;
    border:none;
    paint-order: stroke fill;
    text-decoration: none;
    font-size:20px;
    color:white;
    font-family:"Kenney";
    -webkit-text-stroke: 5px #434A5F;
    transition:all 0.2s ease;
}

h2{
    font-size: 30px;
}

a:hover, button:hover{
    color:white;
    -webkit-text-stroke: 5px #4F43AE;
}

#logo{
    margin:auto;
    height:200px;
    width:auto;
}

#rules a{
    font-size:15px;
}

h2{
    font-size:32px;
}
#credits p{
    margin:0;
}

label{
    font-size:15px;
    text-align: left;
}

.form-control{
    background-color: transparent;
    border:3px dashed white;
    border-radius: 0;
    padding:0.5rem;
    outline:transparent;
    color: white!important;
}
input:focus{
    outline:none!important;
    background-color: transparent!important;
    box-shadow:none!important;
    border-color:white!important;
    color: white!important;
}